.question_item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  text-decoration: none;
  color: inherit;
  transition: background 0.2s ease;
}
.question_item:hover {
  background-color: #dbd8db;
  color: #3b50b6;
}
.question_item:hover .avatar {
  background-color: var(--secondary-blue);
  color: #fff;
  transform: scale(1.1);
}
.question_item:hover .username,
.question_item:hover .question_title {
  color: var(--secondary-blue);
}

/* the left side */
.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  text-align: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: var(--text-gray);
  transition: all 0.2s ease;
  font-size: 45px;
  border-radius: 50%;
}
.username {
  font-size: 15px;
  color: var(--text-gray);
  word-break: break-all;
}

/* middle part the question title */
.question_content {
  flex: 1;
  padding: 20px 30px;                 
  background-color: #ffffff;          
  border-radius: 12px;                
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;                
  cursor: pointer;                    
}

.question_content:hover {
  transform: translateY(-3px);        
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.question_title {
  font-size: 20px;                     
  font-weight: 600;                    
  color: #1a1a1a;                      
  margin-bottom: 10px;                 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  display: flex;                        /* aligns text and arrow horizontally */
  align-items: center;                 
  justify-content: space-between;       /* pushes arrow to the right */
  gap: 10px;                             /* space between title and arrow */
}

/* right side */

.arrow {
  font-size: 30px;
  color: #340468;                   
  transition: transform 0.3s ease, color 0.3s ease; 
  cursor: pointer;                  
  flex-shrink: 0;                     /* prevents arrow from shrinking */
}

.arrow:hover {
  transform: translateX(5px) rotate(10deg); 
  color: #5b96fb;                    
}


/* states */
.loading,
.nodata {
  padding: 50px;
  text-align: center;
  font-size: italic;
  color: var(--text-gray);
}

/* responsiveness */
@media (max-width: 600px) {
  .user_info {
    width: 80px;
  }
}
